<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Event description:</strong>
  <%= @event.event_description %>
</p>

<p>
  <strong>Event avatar:</strong>
  <%= image_tag @event.event_avatar.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_event_path(@event) if user_signed_in? %> |
<%= link_to 'Back', events_path %>
